c_cpp_properties.json
launch.json
settings.json
ffapp/macos/Flutter/GeneratedPluginRegistrant.swift
ffapp/lib/server/__debug_bin407063119.exe
ffapp/lib/server/__debug_bin2711900380.exe
ffapp/lib/server/__debug_bin1181378775
ffapp/lib/server/__debug_bin1323181800
ffapp/lib/server/__debug_bin2677565405.exe
ffapp/lib/server/__debug_bin2711900380.exe
ffapp/lib/server/__debug_bin3373940472.exe
ffapp/lib/server/__debug_bin407063119.exe
ffapp/lib/server/__debug_bin713304608.exe
**/__debug_bin*